
<%= form_tag venues_path, :method => :get do %>
	<p>
		<%= text_field_tag :search, params[:search] %>
		<%= submit_tag "Search Near", :name => nil %>
	</p>
<% end %>
<p>
	<strong>Available Venues:</strong>
		<% @venues.each do |v|%>
			<%= v.venue_title + ", " %> <%= link_to "show", venue_path(v.id) %>
		<% end %>
</p>
