
<%= form_tag venues_path, :method => :get do %>
	<p>
		<%= text_field_tag :search, params[:search] %>
		<%= submit_tag "Search Near", :name => nil %>
	</p>
<% end %>
<p>
	<strong>Latest Available Venues:</strong>
		<% @venues.all.last(10).each do |v|%>
		<ul>
			<li><%= image_tag v.avatar :thumb %> <strong><%= v.venue_title + ", " %></strong> <%= link_to "show", venue_path(v.id) %></li>
		</ul>
		<% end %>
</p>
