<h2> Create a listing </h2>
<%= form_for @venue, :html => { :multipart => true } do |f| %>
	<%= f.label :venue_title, "Venue's Name" %><br/>
	<%= f.text_field :venue_title %><br /><br />

    <%= f.label :avatar %><br/>
    <%= f.file_field :avatar %><br /><br />

	<%= f.label :address %><br/>
	<%= f.text_field :address %><br /><br />

	<%= f.label :venue_describe, "Description" %><br/>
	<%= f.text_area :venue_describe, :placeholder => "Tell us about your establishment." %><br /> <br />

	<%= f.label :contact, "Contact Info" %><br/>
	<%= f.text_field :contact %><br/><br/>

	<%= f.submit %>

<% end %>