
<p>
	<strong>Venue Name:</strong>
	<%= @venue.venue_title %><br /><br />
	<%= image_tag @venue.avatar :medium %><br /><br />

	<strong>Description:</strong>
	<%= @venue.venue_describe %><br /><br />

	<strong>Venue Address:</strong>
	<%= @venue.address %><br /><br />
	<%= image_tag "http://maps.google.com/maps/api/staticmap?size=450x300&sensor=false&zoom=16&markers=#{@venue.latitude}%2C#{@venue.longitude}" %><br /><br />

	<strong>Contact Info: </strong>
	<%= @venue.contact %>

	<h2>Reviews</h2>
		<% @venue.reviews.each do |review| %>
	  <p>

	    <strong>Review by:</strong>
	    <%= review.reviewer %>
	  </p>
	 
	  <p>
	    <strong>Says:</strong>
	    <%= review.body %><br />
	  </p>
	  <p>
	  <% if current_user == @venue.user %>
	  <button><%= link_to 'Delete Review', [review.venue, review],
	               method: :delete,
	               data: { confirm: 'Are you sure?' } %></button> <% end %>
	</p>
	<% end %>

		<h2>Add a review:</h2>
	<%= form_for([@venue, @venue.reviews.build]) do |f| %>
	  <p>
	    <%= f.label :reviewer %><br>
	    <%= f.text_field :reviewer %>
	  </p>
	  <p>
	    <%= f.label :body %><br>
	    <%= f.text_area :body %>
	  </p>
	  <p>
	    <%= f.submit %>
	  </p>
	<% end %>

</p>