<h2 class="ui left aligned header"> <i class="blue bookmark outline icon"></i><%= @venue.venue_title %> </h2>
<div id="widget">
	<div id="venueImage" class="ui grid">
		<%= image_tag @venue.avatar, :class => "ui left aligned fluid image" %><br/>
		<i id="descIco" class="huge comments outline icon"><span>Description</span></i><br/><br/><br/>		
		<h4 id="venueText"><%= @venue.venue_describe %></h4>
	</div><br/>
</div><br/>
<h1 class="ui center aligned header">
The Details
</h1>
<div class="ui divider"></div>
<div class="ui grid">
	<div class="two wide column"></div>
	<div class="two wide column">
		<h2 class="ui icon header">
			<i class="blue users icon"></i>
			<%= @venue.capacity %><br/>
			<div class="sub header">
				Capacity
			</div>
		</h2>
	</div>
	<div class="two wide column"></div>
	<div class="four wide column">
		<h2 class="ui icon header">
			<i class="blue marker icon"></i>
			Address
			<div class="sub header">
			<%= @venue.address %><br/><br/>
			</div>
		</h2>
	</div>
	<div class="two wide column"></div>
	<div class="two wide column">
		<h2 class="ui icon header">
			<i class="blue phone icon"></i>
			Contact
			<div class="sub header">
			<%= @venue.contact %><br/><br/>
			</div>
		</h2>
	</div>
</div>
<br/>
<h2 class="ui center aligned icon header">
	<i class="orange street view icon"></i>
		Location
</h2>
<div id="showLocation"><br/><br/><br/>
<div id="map"></div>
<script>
	function initMap() {
		var loc = {lat: <%= @venue.latitude %>, lng: <%= @venue.longitude %>};
		var map = new google.maps.Map(document.getElementById('map'), {
		  zoom: 15,
		  center: loc
	});
		var marker = new google.maps.Marker({
		  position: loc,
		  map: map
	});
	}
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB2TrwjQ1wChOBh-L1YXhSRkH3A5M0v5mw&callback=initMap">
</script>
</div><br/>
<% if current_user == @venue.user %>
	<%= link_to "Edit Venue", edit_venue_path, :class => "ui button" %>
   	<%= link_to 'Delete Venue', venue_path, :class => "ui button", method: :delete, data: { confirm:'Are you sure?' } %> 
<% end %>
<h2 class="ui center aligned icon header">
	<i class="leanpub icon"></i>
		Reviews
</h2>
<div class="ui divider"></div>
	<% @venue.reviews.each do |review| %>
	<div class="flexbox1">
	  	<div id="reviewCards" class="ui blue raised link card">
	  		<div class="content">
			    <strong>Review by:</strong>
			    <%= review.reviewer %>
	  		</div>
	  		<div class="description">
			   &#160; <strong>Says:</strong>
			   &#160;<%= review.body %><br/><br/>
		    </div>
	  	</div>
	</div>
  	<p>
	  <% if current_user == @venue.user %>
	  <%= link_to 'Delete Review', [review.venue, review], :class => "ui button",
	               method: :delete,
	               data: { confirm: 'Are you sure?' } %><br/><br/><br/>
       <% end %>
       <% end %>
	</p>
	<div id="reviews">
	<% if current_user %>
<div class="ui divider"></div>	
		<h2 class="icon header">
			<i class="edit icon"></i>
			Add a review:
		</h2>
		<div class="ui form">
			<%= form_for([@venue, @venue.reviews.build]) do |f| %>
				<div class="four wide field">
				    <%= f.label :reviewer %>
				    <%= f.text_field :reviewer, :placeholder => "Name" %>
			  	</div>
			  	<div class="four wide field">
				    <%= f.label :body %>
				    <%= f.text_area :body, :placeholder => "Review" %>
				</div>
			    <%= f.submit :class => "ui blue submit button" %>
			<% end %>
		</div>
	<% end %>
	</div><br/>