<h3> <%= @venue.venue_title %> </h3>
<p>
	<strong>Venue Name:</strong>
	<%= @venue.venue_title %><br/><br/>
	<%= image_tag @venue.avatar :medium %><br/><br/>

	<strong>Capacity:</strong>
	<%= @venue.capacity %><br/><br/>
	<strong>Description:</strong>
	<%= @venue.venue_describe %><br/><br/>

	<strong>Venue Address:</strong>
	<%= @venue.address %><br/><br/>
    <div id="map"></div>
    <script>
      function initMap() {
        var loc = {lat: <%= @venue.latitude %>, lng: <%= @venue.longitude %>};
        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 15,
          center: loc
        });
        var marker = new google.maps.Marker({
          position: loc,
          map: map
        });
      }
    </script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB2TrwjQ1wChOBh-L1YXhSRkH3A5M0v5mw&callback=initMap">
</script><br/><br/>

	<strong>Contact Info: </strong>
	<%= @venue.contact %><br/><br/>

	<% if current_user == @venue.user %>
	<button><%= link_to "Edit Venue", edit_venue_path %></button>
	<% end %>

	<h2>Reviews</h2>
		<% @venue.reviews.each do |review| %>
	  <p>

	    <strong>Review by:</strong>
	    <%= review.reviewer %>
	  </p>
	 
	  <p>
	    <strong>Says:</strong>
	    <%= review.body %><br/>
	  </p>
	  <p>
	  <% if current_user == @venue.user %>
	  <button><%= link_to 'Delete Review', [review.venue, review],
	               method: :delete,
	               data: { confirm: 'Are you sure?' } %></button><br/><br/><br/>
       <% end %>
       <% end %>
       <% if current_user == @venue.user %>
       <button><%= link_to 'Delete Venue', venue_path, 
       				method: :delete,
              		data: { confirm: 'Are you sure?' } %></button> 
       <% end %>
	</p>
	<% if current_user %>
		<h2>Add a review:</h2>
				<%= form_for([@venue, @venue.reviews.build]) do |f| %>
		  <p>
		    <%= f.label :reviewer %><br>
		    <%= f.text_field :reviewer %>
		  </p>
		  <p>
		    <%= f.label :body %><br>
		    <%= f.text_area :body %>
		  </p>
		  <p>
		    <%= f.submit %>
		  </p>
		<% end %>
	<% end %>
</p>