<!DOCTYPE html>
<html>
  <head>
    <title>Venmue</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <a href="/"><button>Home</button></a>
    <a href="/venues"><button>Venues</button></a>
    <% if current_user %>
    <a href="/venues/new"><button>New Venue</button></a><br /><br />
    <%= button_to 'Sign out',  destroy_user_session_path, method: :delete, data: { confirm: 'Are you sure?' } %>
    <% else %>
    <a href="/users/sign_in"><button>Sign in</button></a><br /><br />
    If you are new to the site, Sign up <a href="/users/sign_up">here!</a>
    <% end %>

  	<p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>
  </body>
</html>
